# API Endpoint (URL tempat Backend Go Anda berjalan)
VITE_API_URL="http://localhost:3000/api"

# Web3 Network / Chain ID (Misal: 97 untuk BSC Testnet)
VITE_CHAIN_ID="97"
VITE_CONTRACT_ADDRESS="0x0000000000000000000000000000000000000000"
